PORT=7777

SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_SECURE=false

SMTP_USER=apikey
SMTP_PASS=your_sendgrid_api_key

MAIL_FROM="MyApp <no-reply@myapp.com>"
# MAIL_REPLY_TO=support@myapp.com generally comming from db;
MAIL_RATE_LIMIT=10
MAIL_POOL=true
MAIL_MAX_CONNECTIONS=5
MAIL_MAX_MESSAGES=100


# Bull mq secrets and settings

ATTEMPTS=3
DELAY=3000
TIMEOUT=30000

